.article{
    margin:0;
    padding: 0;
    padding-left: 0.3em;
    margin-bottom: 0.2em;
}
.article-title{
    font-family: monospace;
    font-size: medium;
    text-decoration: none;
}
.article-title:hover{
    text-decoration: underline;
}
.article-url{
    font-size: small;
    color: #333;
}
.article-url a{
    text-decoration: none;
}
.article-url a:hover{
    text-decoration: underline;
}
.component-block{
    border: 1px solid black;
    margin: 0.5em;
}

.component-block-title{
    background-color: #add8e6;
    padding:0.2em;
    border-bottom: 1px solid #5d8896;
}
